<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="testng3.ListernersCLass"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="regression Test" parallel="methods" thread-count="3">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="testng.Parallelexecution"/>
        </classes>
    </test>
</suite>
